<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheet/style.css">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="view">View All</a>
            <a href="update">Update</a>
            <a href="delete">Delete</a>
        </div>
    </body>
