<%- include('./partials/header') -%>
<form action="delete-students" method="post" style="position: absolute; background: rgba(19, 35, 47, 0.9); padding: 40px; max-width: 600px;">
    <h3>Delete Student</h3>
    <input type="text" name="txtIDno" placeholder="ID Number">
    <br><br>
    <button type="submit">Delete Student</button>
</form>
<%- include('./partials/footer') -%>