<%- include('./partials/header') -%>
<form action="view-students" method="post" style="position: absolute; background: rgba(19, 35, 47, 0.9); padding: 40px; max-width: 600px;">
    <h3>View Students</h3>
    <button type="submit">View Student</button>
</form>
<%- include('./partials/footer') -%>